# Assignment group 1: Textual feature extraction and numerical comparison

## Module A _(35 points)_ Processing numeric data

__A1.__ In this problem, you will be working with the demographics data from The Henry J. Kaiser Family Foundation (https://www.kff.org/) including the population of 52 locations (50 states, District of Columbia, and Puerto Rico) based on race, gender, age, and the number of adults with and without children. This data is obtained from the Census Bureauâ€™s American Community Survey (ACS). The data is stored in a `csv` file format located in the attached `data` directory. Read the `data/demographics.csv` file into a `pandas` dataframe and print the dimensionality (using `.shape` method) and the name of the features of the dataframe. (3 points)

In [2]:
import pandas as pd

# Here, import the csv file as a pandas dataframe
demographics = pd.read_csv("./data/demographics.csv", sep = ",")

# Here, print the dataframe dimension (number of rows by number of columns):
print(demographics.shape)

print('\n')

# Here, print the names of features of the dataframe as a list
print(demographics.columns.tolist())

(52, 18)


['Location', 'Male', 'Female', 'Adults_with_Children', 'Adults_with_No_Children', 'White', 'Black', 'Hispanic', 'Asian', 'American_Indian_or_Alaska_Native', 'Native_Hawaiian_or_Other_Pacific_Islander', 'Two_Or_More_Races', 'Age0_18', 'Age_19_25', 'Age_26_34', 'Age_35_54', 'Age_55_64', 'Age_65_plus']

__A2.__ _(2 points)_ To gain a better insight into the dataframe, show the head and tail of the dataframe (using the `.head()` and `.tail()` methods).

In [3]:
# Here, write the command to show the head of the dataframe
demographics.head()

,Location,Male,Female,Adults_with_Children,Adults_with_No_Children,White,Black,Hispanic,Asian,American_Indian_or_Alaska_Native,Native_Hawaiian_or_Other_Pacific_Islander,Two_Or_More_Races,Age0_18,Age_19_25,Age_26_34,Age_35_54,Age_55_64,Age_65_plus
0,Alabama,2284900,2456500,878300,1941300,3119100,1259900.0,195700,63800.0,19800.0,NaN,81800.0,1138300,430500,536200.0,1207200,645600,783600
1,Alaska,364500,345600,153600,283800,433000,18000.0,47400,46600.0,95500.0,6300.0,63300.0,192300,63500,97900.0,183600,92400,80500
2,Arizona,3363200,3478100,1322700,2646700,3761600,270200.0,2143400,220300.0,261300.0,12500.0,172000.0,1686200,637200,815200.0,1677000,839900,1185700
3,Arkansas,1422700,1487200,602000,1096800,2109200,434100.0,220300,48100.0,13500.0,7300.0,77500.0,730600,265200,329800.0,726600,377100,480600
4,California,19113000,19600800,7955200,15981800,14305700,2061600.0,15194400,5598000.0,138100.0,122900.0,1293200.0,9363800,3697900,5240600.0,10277900,4720500,5413200

In [4]:
# Here, write the command to show the tail of dataframe
demographics.tail()

,Location,Male,Female,Adults_with_Children,Adults_with_No_Children,White,Black,Hispanic,Asian,American_Indian_or_Alaska_Native,Native_Hawaiian_or_Other_Pacific_Islander,Two_Or_More_Races,Age0_18,Age_19_25,Age_26_34,Age_35_54,Age_55_64,Age_65_plus
47,Washington,3589700,3650100,1522400,2920700,4976100,246900.0,916000,617900.0,68600.0,42200.0,372200.0,1701700,628700,965900.0,1899400,949100,1095000
48,West Virginia,863400,898700,322100,714100,1631600,64300.0,20400,14200.0,2000.0,NaN,28800.0,385000,148600,178300.0,448700,260600,340900
49,Wisconsin,2792400,2850600,1161900,2230900,4600500,328100.0,382000,166800.0,43500.0,NaN,120600.0,1319600,495600,643300.0,1441400,812500,930500
50,Wyoming,286600,276700,118200,214300,474400,5300.0,56100,4200.0,12100.0,NaN,11200.0,142400,48500,69400.0,133100,81500,88300
51,Puerto Rico,1570300,1734500,543200,1406500,23000,NaN,3274500,NaN,NaN,NaN,NaN,701800,327600,344300.0,849600,428200,653200

__A3.__ _(5 points)_ As you can see, there is no `total` population column in this dataframe for each location. Therefore, create a new column which shows the summation of `Male` and `Female` populations. <br> The `pandas` package provides a `.describe()` method which gives a descriptive summary of the desired column(s) (such as mean, standard deviation, min, and max values). Print these statistics for the column `total` which you just created. Then, compare the average population of locations obtained from `.describe()` method with the output of the `mean` method of `numpy` package. Are they the same?

In [5]:
# Here, create a new column 'total' to represent the total population of each location
demographics['total'] = demographics['Male'] + demographics['Female']

# Here, use the describe method to show the summary statistics for the 'total' column
demographics[['total']].describe()

              total
count  5.200000e+01
mean   6.160138e+06
std    7.092525e+06
min    5.633000e+05
25%    1.742100e+06
50%    4.185050e+06
75%    6.940925e+06
max    3.871380e+07

__A4:__ _(5 points)_ Find the locations with the minimum and maximum populations.

In [6]:
# Here, print the location with the minimum population
print(demographics[demographics['total']== min(demographics['total'])][['Location','total']])

print("\n")
# Here, print the location with the maximum population
print(demographics[demographics['total']== max(demographics['total'])][['Location','total']])

   Location   total
50  Wyoming  563300


     Location     total
4  California  38713800

__A5.__ _(5 points)_ In this part, we are looking at two columns, `Adults_with_Children` and `Adults_with_No_Children`. 
It seems that the populations in these two columns do not include the children (aged younger than 18 years), and older adults (aged older than 64 years). Confirm this hypothesis for `Pennsylvania`, `Colorado`, and `Georgia` that summation of these two columns equal the summation of the population of all age-groups when two `Age0_18` and `Age_65_plus` columns are excluded (For doing that, you may create a new column `total_adults_age_groups` and compare that with the summation of `Adults_with_Children` and `Adults_with_No_Children`).

In [7]:
# Here, create a new column 'total_adults_age_groups' to represent the total adults population of each location
total_adults_age_groups = ['Age_19_25', 'Age_26_34', 'Age_35_54', 'Age_55_64']
demographics['total_adults_age_groups'] = demographics[total_adults_age_groups].sum(axis=1)

adults_columns = ['Adults_with_Children', 'Adults_with_No_Children']
demographics['total_adults'] = demographics[adults_columns].sum(axis=1)

demographics['adult_population_difference'] = demographics['total_adults'] - demographics['total_adults_age_groups']



# Here, print the difference between the total_adults_age_groups column and the summation of 
# `Adults_with_Children` and `Adults_with_No_Children` columns for the three states

# print the three states' differences

print("The population difference for Pennsylvania is :", demographics[demographics['Location'] == 'Pennsylvania'][['adult_population_difference']].values)
print("The population difference for Colorado is :", demographics[demographics['Location'] == 'Colorado'][['adult_population_difference']].values)
print("The population difference for Georgia is :", demographics[demographics['Location'] == 'Georgia'][['adult_population_difference']].values)

The population difference for Pennsylvania is : [[0.]]
The population difference for Colorado is : [[0.]]
The population difference for Georgia is : [[0.]]

__A6:__ _(2 points)_ It seems that our hypothesis is correct for these three states. To make sure, we need to confirm that the differences between total_adults_age_groups column and summation of Adults_with_Children and Adults_with_No_Children for all the locations are zero. You can do that by looking in all the states' differences. Instead of that, create a logical rule (boolean mask) to return `False` if there is at least one non-zero value in the difference between `total_adults_age_groups` column and summation of `Adults_with_Children` and `Adults_with_No_Children`.

In [8]:
# Here, write the code for a rule to return 'True' if all the difference values are zero or 
# 'False' if there is at least one state with a non-zero difference

print(demographics[demographics['adult_population_difference'] != 0].shape[0] == 0)

False

__A7:__ _(3 points)_ It seems that our hypothesis is not correct for all the locations. We need to know what are the locations and the exact differences to see if it is due to rounding or there is a really significant difference. Create a dictionary and store locations (as `keys`) and the amount of difference between the population of adults obtained using the summation of two `Adults_with_Children` and `Adults_with_No_Children` columns and those obtained using the population of `Age_19_25`, `Age_26_34`, `Age_35_54`, `Age_55_64` age-groups (as `values`).

In [9]:
# Create a dataframe (population_difference_df) composed of row with non-zero values for adult_population_difference
population_difference_df = demographics[demographics['adult_population_difference'] != 0]


# Create a dictionary composed of population_difference_df locations as keys and 
# adult_population_difference as values:
pd.Series(population_difference_df.adult_population_difference.values,index=population_difference_df.Location).to_dict()

{'Alabama': 100.0,
 'Arizona': 100.0,
 'Arkansas': 100.0,
 'California': 100.0,
 'Delaware': 100.0,
 'Florida': 100.0,
 'Idaho': -100.0,
 'Illinois': -100.0,
 'Iowa': -100.0,
 'Kansas': 100.0,
 'Kentucky': 100.0,
 'Louisiana': 100.0,
 'Minnesota': 100.0,
 'Montana': -100.0,
 'Nebraska': 100.0,
 'New Mexico': -100.0,
 'North Carolina': 200.0,
 'North Dakota': 100.0,
 'Oklahoma': -100.0,
 'Oregon': -100.0,
 'South Carolina': 100.0,
 'Utah': 100.0,
 'Vermont': -100.0,
 'Virginia': 200.0}

__A8.__ _(7 points)_ In this part, we are going to find the similarity of locations based on their races population distributions using _cosine similarity_. In cases where there is no population of one race for a location in the dataframe (the corresponding value is `NaN`), replace them with `zero` using the `.fillna()` method of `pandas`. Then, create a list and append to that each pair of locations with their similarity as a tuple, like: `(loc1, loc2, similarity value)`.

In [10]:
import numpy as np

# The columns related to race in the dataframe
race_columns = ['White', 'Black', 'Hispanic', 'Asian', 'American_Indian_or_Alaska_Native', \
                'Native_Hawaiian_or_Other_Pacific_Islander', 'Two_Or_More_Races']

similarity_list = []

for loc1 in range(demographics.shape[0]):
    for loc2 in range(demographics.shape[0]):
        if loc1 != loc2:
            loc1_race_ratio = np.array(demographics.loc[loc1,race_columns].fillna(0))
            loc2_race_ratio = np.array(demographics.loc[loc2,race_columns].fillna(0))
            similarity_value = loc1_race_ratio.dot(loc2_race_ratio) / (np.linalg.norm(loc1_race_ratio) * np.linalg.norm(loc2_race_ratio))
            similarity_list.append((demographics.loc[loc1,'Location'],demographics.loc[loc2,'Location'],similarity_value))

__A9.__ _(3 points)_ What are the two most and two least similar locations based on their races population?

In [11]:
# sort similarity list:
sorted_similarities = sorted(similarity_list, key=lambda tup: tup[2])

# The two most similar locations are:
print('The two most similar locations based on their races populations are: ' , sorted_similarities[len(sorted_similarities)-1])

# The two least similar locations are:
print('The two least similar locations based on their races populations are: ' , sorted_similarities[0])

The two most similar locations based on their races populations are:  ('Vermont', 'Maine', 0.9999496582673306)
The two least similar locations based on their races populations are:  ('West Virginia', 'Puerto Rico', 0.01950610252950971)